body {
    font-family: sans-serif;
    background-color: aliceblue;
}

header {
    background-color: rgb(11, 94, 11);
    padding: 20px;
    display: inline-flexbox;
    
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    color:whitesmoke;

}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

aside {
  background-color: #e9ede5;
  padding: 20px;
  margin: 20px;
  width: 250px;
  text-align: left;
  height:1000px;
  position: relative;
}

.wilson {
    font-size: 60px;
    font-family: cursive;
}

.external-links {
    padding-top: 10px;
    margin-right: 30px;
    float: right;
    font-size: 20px;
    color:antiquewhite;
}

.external-links ul {
    list-style-type: none;
}

.external-links ul li {
    display: inline-block;
    justify-content:right;
    margin-left: 50px;
}

.external-links ul li a {
    color:white;
}

.contentfocus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

#panda {
    display:flex;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.intro p {
    display: inline-block;
    width: 500px;
    height: 125px;
    border: 5px solid black;
    justify-content: center;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

section .challenge1 {
    display: inline-block;
    border-radius: 10%;
}

section .challenge1 header {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.challenge1 {
    padding: 20px;
    margin: 20px;
}

.challenge1 #ch1 {
    height: 300px;
    width: 300px;
}

.challenge2 {
    padding: 20px;
    margin: 20px;
}
section .challenge2 header {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.challenge2 #ch2 {
    height: 300px;
    width: 300px;
}

footer {
    background-color: rgb(11, 94, 11);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    position: relative;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

footer a {
    color: white;
}