* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

/* header section consists of header, h1 and the class wilson that creates cursive display */
header {
    background-color: rgb(11, 94, 11);
    padding: 10px;
    text-align: left;
    z-index: 1;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    color:whitesmoke;

}
/* nav and external links class displays the links for my repo and the UTSA gitlab page */
nav {
    background-color: rgb(11, 94, 11);
    display: flex;
    justify-content: right;
    padding: 10px; 
}

/* aside is a placeholder for a future menu that hangs on the left portion of the page */
aside {
    flex: 1;
    background-color: rgb(11, 94, 11);
    padding: 20px;
    width: 8%;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    padding-top: 200px;
    display: block;
    text-align: left;
    color: white;
    border-right: solid, black;
}

/* footer is set to auto lock at the bottom of the page */
footer {
    background-color: rgb(11, 94, 11);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

footer a {
    color: white;
}

/* applies special formatting to highlight Wilson's in the header */
.wilson {
    font-size: 60px;
    font-family: cursive;
}

/* formats the external links in the nav section */
.external-links {
    padding-top: 10px;
    margin-right: 30px;
    float: right;
    font-size: 20px;
    color:antiquewhite;
}

.external-links ul {
    list-style-type: none;
}

.external-links ul li {
    display: inline-block;
    justify-content:right;
    margin-left: 50px;
}

.external-links ul li a {
    color:white;
}

/* centers and formats intro paragraph */
.intropara {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    font-family: cursive;
}

#introduction {
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    
}

/* centers and adjusts the size of my profile picture */
.selfie {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}

.selfie #me {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 10px;
}

/* formats content section with the three content items */
.contentfocus {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contentitem {
    padding: 20px;
    margin: 20px;
}

.contentitem p {
    text-align: left;
    width: 300px;
    justify-content: center;
    padding: 10px;
}

.contentitem header {
    color: white;
    background-color: black;
    text-align: center;
}

.contentitem header a {
    color:white;
}

.contentitem .hidden {
    display: none;
    list-style: bullet;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.contentitem img {
    height: 300px;
    width: 400px;
    border: 1px solid black;
}

#panda {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
}

/* creates psuedo class to display hidden text when the cursor hovers over the panda image */
.contentitem:hover {
    transform: scale(1.25);
    .hidden {
        display: block;
    }
}


/* adjusts display for smaller screen */
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

